body {
    background: url('https://i.ytimg.com/vi/UqE908uIh9k/maxresdefault.jpg');
    background-size: 100%;
    background-position: center top;
}

#home {
    .heading {
        margin: 15px 0;

        .title {
            h1 {
                color: white;
                font-weight: bold;
                margin: 0;
            }
        }

        .logo {
            img {
                width: 146px;
                height: 52px;
            }
        }
    }

    .simulation-form {
        .form-group {
            margin-bottom: 0;

            .fieldset {
                margin-bottom: 15px;
            }
        }
    }

    .options {
        button {
            margin-bottom: 5px;

            &#button-manual {
                background-color: #e27e2f;
                border-color: #c38d63;
                color: white;
            }

            &#button-execute {
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c;
            }

            &#button-save {
                color: #fff;
                background-color: #24748c;
                border-color: #1a677d;
            }

            &#button-simulations {
                color: #fff;
                background-color: #5c5dcf;
                border-color: #5c5dcf;
            }
        }
    }

    #simulations-results {
        .results {
            .button-hide-simulation-result {
                display: inline-block;
                padding: 3px;
                line-height: 0;
                margin-bottom: 7px;
                margin-right: 5px;
            }

            h3 {
                display: inline-block;
                color: white;
            }

            .piechart {
            }

            .barchart {
            }

            table {
                background-color: white;
            }

            &#results-simulation-current {
                .button-hide-simulation-result {
                    display: none;
                }
            }
        }
    }
}

#main-modal {
    .modal-dialog {
        .modal-content {
            overflow: hidden;

            .modal-header {
                background: #6bc4e6;

                .modal-title {
                    color: white;
                    font-weight: bold;
                }
            }

            .modal-body {
                &#body-modal-welcome {
                    table {
                        width: 100%;
                    }
                }

                &#body-modal-simulations {
                    table {
                        width: 100%;
                        margin-bottom: 0;
                    }

                    .button-toggle-simulation-display {
                        .glyphicon-eye-open {
                            display: none;
                        }

                        .glyphicon-eye-close {
                            display: inline-block;
                        }

                        &.display-simulation {
                            .glyphicon-eye-open {
                                display: inline-block;
                            }

                            .glyphicon-eye-close {
                                display: none;
                            }
                        }
                    }
                }
            }

            .modal-footer {
            }
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 900px;
        }
    }
}

#secondary-modal {
    .modal-dialog {
        .modal-content {
            overflow: hidden;

            .modal-header {
                background: #6bc4e6;

                .modal-title {
                    color: white;
                    font-weight: bold;
                }
            }

            .modal-body {
                table {
                    width: 100%;
                }
            }
        }
    }
}
